x-common: &common
  image: titanark
  volumes:
    - type: bind
      source: ${ARK_INSTALL_DIR}
      target: /ARK

x-world: &world
  command: bash -c "/controlARK.bash start"
  deploy:
    restart_policy:
      condition: on-failure
      max_attempts: 3

x-backup: &backup
  image: titanark
  volumes:
    - type: bind
      source: ${ARK_INSTALL_DIR}
      target: /ARK
    - type: bind
      source: ${ARK_BACKUP_DIR}
      target: /ARK_BACKUP

services:
  UPDATE:
    container_name: TITANUPDATE
    <<: *common
    command: bash -c "/controlARK.bash update"

  BACKUP:
    container_name: TITANBACKUP
    <<: *backup
    command: bash -c "/controlARK.bash backup"

  #######################################
  ###  Configure ARK worlds below here
  #######################################

  First_World:
    container_name: First_World
    <<: *common
    <<: *world
    environment:
      - __ARKINSTANCE=First_World
      - __ARKCLUSTER=${CLUSTER_NAME}
      - __ARKMAP=ScorchedEarth_P
      - __ARKPORT=7777
      - __ARKPORTMAPPING=7777-7778
      - __ARKQPORT=27015
    ports:
      - "7777-7778:7777-7778/udp"
      - "27015:27015/udp"

  Second_World:
    container_name: Second_World
    <<: *common
    <<: *world
    environment:
      - __ARKINSTANCE=Second_World
      - __ARKCLUSTER=${CLUSTER_NAME}
      - __ARKMAP=Valguero_P
      - __ARKPORT=7779
      - __ARKPORTMAPPING=7779-7780
      - __ARKQPORT=27017
    ports:
      - "7779-7780:7779-7780/udp"
      - "27017:27017/udp"